<% include partials/header %>
    <br>
    <div class="container">
        <h1>FAQ</h1>
        <br>
        <h3>Who made this site? Why?</h3>
        <p>This was made by me, <a href="http://mavilia.me">Ryan Mavilia</a> in an effort to learn Node.JS</p>
        <h3>What are your plans for it?</h3>
        <p>I know the site is very basic and somewhat unusable due to its lack of features but the list of features to be implemented are:</p>
        <ol>
            <li>User accounts</li>
            <li>Search</li>
            <li>"Notebooks" (collections of notes)</li>
            <li>Real time collaboration</li>
        </ol>
        <br>
        <h3>
            Submit feature suggestions on GitHub or email ryan"at"mavilia.me
        </h3>
    </div>
    <% include partials/footer %>