<% include partials/header %>
    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>Welcome to Node Notes</h1>
            <p class="lead">
                <%- welcome_message %>
            </p>
            <a href="create"><button type="button" class="btn btn-success btn-lg">Create New Note</button></a>
        </div>

    </header>
    <div class="fill">
</div>


    <% include partials/footer %>