<% include partials/header %>
    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>Welcome to Node Notes</h1>
            <p class="lead">A quick way to upload notes using Markdown!</p>
            <a href="create"><button type="button" class="btn btn-success btn-lg">Create New Notes</button></a>
        </div>

    </header>

    <% include partials/footer %>