<% include partials/header %>
    <div class="container">
        <script>
            document.getElementById("content").innerHTML = marked(<%- JSON.stringify(note_body) %>);
        </script>
    </div>
<% include partials/footer %>