<% include partials/header %>
    <div class="container">
        <br>
        <h1> Your Note </h1>
        <br>
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">

                <form method="GET" action="/edit/<%- note_id %>" class="card p-2">
                    <ul class="list-group mb-3">
                        <li class="d-flex justify-content-between lh-condensed">
                            <div class="input-group">
                                <span class="display-4 text-center text-dark">Share </span>
                            </div>
                        </li>
                        <li class="d-flex justify-content-between lh-condensed">
                            <div class="input-group">


                                <input type="text" class="form-control" value="" id="copyInput">

                                <script>
                                    document.getElementById("copyInput").value = window.location.href;


                                    function myFunction() {
                                        var copyText = document.getElementById("copyInput");
                                        copyText.select();
                                        document.execCommand("copy");
                                    }
                                </script>
                                <div class="input-group-append">
                                    <button type="button" onclick="myFunction()" class="btn btn-secondary btn-block">Copy</button>
                                </div>
                            </div>
                        </li>
                </form>
                <li class="d-flex justify-content-between lh-condensed">
                    <div class="input-group">

                        <button type="submit" class="btn btn-primary btn-block">Edit</button>

                    </div>
                </li>
                </form>
            </div>
            <div class="col-md-8 order-md-1">

                <div class="mb-3">
                <textarea id="main_text" name="main_text" oninput="this.editor.update()" rows="4" readonly><%- note_body %></textarea>
                <script>
                    var simplemde = new SimpleMDE({
                        autofocus: true,
                        element: document.getElementById("main_text"),
                        placeholder: "Type here...",
                        promptURLs: true,
                        renderingConfig: {
                            singleLineBreaks: false,
                            codeSyntaxHighlighting: true,
                        },
                        tabSize: 4,
                        toolbar: false,
                    }).togglePreview();
                </script>
                </div>
            </div>

        </div>
    </div>

    </div>
    <% include partials/footer %>